/* Page-wide selectors */

body {
    font: 1.6em Helvetica, Arial, Sans-Serif;
}

body, footer {
    margin: 0;
    padding: 0;
}

.mainImg {
    max-width: 100%;
    height: 600px;
    background-image: url('../img/Mac_Tonight_Oral_History.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Nav selectors */

nav {
    border-top: 5px black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:midnightblue;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font: 1.6em 'Brush Script MT', 'Brush Script Std', 'cursive';
}

nav ul li a:hover {
    background-color: #111;
}

/* Main body selectors */

.body {
    text-align: justify;
    color: white;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 2px solid white;
    margin: auto;
    width: 20%;
}

figcaption {
    padding: 1em;
    overflow: auto;
}

.bg-wrapper-1, .bg-wrapper-2 {
    overflow: hidden;
    padding: 0.5em 3em;
}

.bg-wrapper-1 {
    background-image: linear-gradient(to top, #b00b69, #891f66, #64255b, #43244a, #291e34, #231b30, #1d182c, 
    #171528, #191739, #1a184b, #1a195e, #191970);
}
    
.bg-wrapper-2 {
    background-color: #b00b69;
}

/* Footer */ 

footer {
    width: 100%;
    text-align: center;
    background: rgb(176,11,105);
    background: linear-gradient(180deg, rgba(176,11,105,1) 0%, rgba(66,10,85,1) 35%, rgba(4,32,105,1) 100%);
    color: #fff;
    overflow: hidden;
}